.quote-section {
    height: 200px;
    width: 75%;
    gap: 15rem;
    color: #2E5077;
    text-align: center;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    border: 2px solid #79D7BE;
    background-color: #79D7BE;
}

.quote-section > h1 {
    text-decoration: underline;
    font-size: xx-large;
}

.quote-section > p {
    font-size: large;
    font-family: italic;
}