.resource-page {
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.resource-page > h1 {
    padding: 3px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin: 20px 10px;
}

.resource-content {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(218, 106, 106, 0.1);
    max-height: 60vh;
    overflow-y: auto;
}