

.about-section {
    top: 0px;
    height: 100vh;
    min-height: max-content;
    width: 100%;
    background: linear-gradient(135deg, #A1D8F1, #D3A9F7);
}

.about-section > h1  {
    margin: 0px;
    padding: 0px;
}