@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* Font searching */
@font-face {
  font-family: 'CustomFont';
  src: url('./ui/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*  font-family: 'Cedarville Cursive', cursive; */

.quote {
  font-family: 'Marck Script','Cedarville Cursive', cursive;
  font-weight: bolder;
  margin-bottom: 20px;
}



a {
  text-decoration: none;
  color: white;
}
