@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.quote {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: white;
}
