.cheatsheet-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    min-height: 100vh;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(135deg, #A1D8F1, #D3A9F7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cheatsheet-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cheatsheet-header {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.cheatsheet-detail > p,
.cheatsheet-detail > p > strong {
    font-family: 'Cedarville Cursive';
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
}

.cheatsheet-detail > p > strong {
    font-size: 25px;;
}

.actions  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 10px;
    gap: 20px;
}

.actions img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}