.codeblood {
    height: 100%;
    background: black;
}


.section-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    height: 100vh;
    background: black;
}

.code-logo {
    position: absolute;
    top: 10px;
    height: 98vh;
    width: 98vw;
    object-fit: contain;
    border-radius: 10px;
    background: black;
    animation: fadeIn 2s forwards, glow 4s forwards infinite;
    transition: all 0.3s ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 5px rgba(255, 255, 255, 0.4), 0 0 7px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    }
    50% {
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 25px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 5px rgba(255, 255, 255, 0.4), 0 0 7px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    }
}

.button-group {
    position: relative;
    display: flex;
    gap: 25px;
    top: 5%;
}

.button-group > button {
    position: relative;
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    color: #c5b9b9;
    transition: color 0.3s ease;
    outline: none;
}

.button-group > button.is-active {
    color: #c71639;
}

.button-group > button:hover {
    color: #DC143C;
}

.sliding-border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #DC143C;
    border-radius: 2px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.data-container {
    position: relative;
    z-index: 1000;
    top: 10%;
    height: 83%;
    width: 95%;
    border-radius: 10px;
    backdrop-filter: blur(10px);

    animation: fadeIn 7s forwards;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    animation: fadeIn 7s forwards;
}
