.codeblood {
    height: 100vh;
    background-color: rgb(0, 0, 0);
}


.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.code-logo {
    margin: 7px;
    height: 100%;
    width: 14%;
    object-fit: contain;
    border-radius: 30px;
    animation: glow 2s forwards infinite;
    transition: all 0.3s ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 5px rgba(255, 255, 255, 0.4), 0 0 7px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 25px rgba(255, 255, 255, 0.4);
    }
}

.button-group {
    position: relative;
    display: flex;
    gap: 25px;
}

.button-group > button {
    position: relative;
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    color: #c5b9b9;
    transition: color 0.3s ease;
    outline: none;
}

.button-group > button.is-active {
    color: #c71639;
}

.button-group > button:hover {
    color: #DC143C;
}

.sliding-border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #DC143C;
    border-radius: 2px;
    transition: transform 0.3s ease, width 0.3s ease;
}
