.user-profile {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #F9E4D4, #4ECDC4);
    padding: 20px;
}

.profile-layout {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* Left Section */
.profile-left {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-btn {
    align-self: flex-end;
    padding: 10px;
    background-color: #4ECDC4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.edit-btn img {
    width: 20px;
    height: 20px;
}

.edit-btn:hover {
    transform: scale(1.1);
    background-color: #3bafa3;
}

/* Right Section */
.profile-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.achievements {
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: gray;
}

/* Recommendations */
.recommendations {
    margin-top: 40px;
    width: 100%;
    padding: 20px 5px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    overflow-x: auto;
}

.recommendations > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fquestion-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 18%;
    border: 2px solid white;
    border-radius: 5px;
    gap: 5px;
    background: linear-gradient(135deg, #FFB6B9, #A3D8F4);
}


.recommendations::-webkit-scrollbar {
    height: 8px;
}

.recommendations::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
}

.recommendations::-webkit-scrollbar-track {
    background: rgba(240, 240, 240, 0.3);
}

.recommendations h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.sender-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.sender-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sender-username {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.sender-username:hover {
    cursor: pointer;
}

.fquestion-details, .topic-details {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fquestion-name {
    text-align: center;
}

.fquestion-details > p {
    margin: 6.5px;
    font-size: 16px;
    color: #333;
}

.solve-btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.topic-name {
    text-align: center;
    font-weight: bold;
}


.topic-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.topic-links > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.recommendations > p {
    text-align: center;
}