.resource-container {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(218, 106, 106, 0.1);
    padding: 20px;
    margin: 20px;
    position: relative;
    width: 90%;
}

.resource-container h2 {
    margin: 0;
    padding: 3px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.resource-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.expander {
    margin: 10px 5px 5px 10px;
    padding: 10px 30px;
    background-color: #F8BBD0;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.expander:hover {
    transform: translateY(-5px);
}

.expander:active {
    transform: translateY(5px);
}