.cheatsheet-section {
	display: flex;
	flex-direction: column;
	background: linear-gradient(135deg, #F9E4D4, #4ECDC4);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cheatsheet-section h2 {
	font-size: 1.8rem;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
}

.cheatsheet-cards {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.cheatsheet-card {
	flex: 1;
	min-width: 250px;
	max-width: 300px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	transition: transform 0.3s, box-shadow 0.3s;
}

.cheatsheet-card:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cheatsheet-card img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cheatsheet-card h3 {
	font-size: 1.2rem;
	color: #333;
	margin-bottom: 10px;
}

.cheatsheet-card p {
	font-size: 0.9rem;
	color: gray;
	margin-bottom: 0px
}

.expand-button {
	align-self: center;
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1rem;
	color: white;
	background-color: #4ECDC4;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.expand-button:hover {
	background-color: #3bafa3;
	transform: scale(1.1);
}

.btns {
	display: flex;
	justify-content: center;
}

.learn-btn,
 .rec-btn {
	padding: 10px 20px;
	font-size: 1rem;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.learn-btn {
	background-color: #F9E4D4;
	margin-right: 10px;
}

.rec-btn {
	background-color: #4ECDC4;
}