
.log {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #48C9B0, #1F3A57);
}

.login-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
    height: auto;
    min-height: 370px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: radial-gradient(circle, #48C9B0, #1F3A57);
}

.login-page > h1 {
    margin-bottom: 0px;
    font-size: 2.2rem;
    font-weight: bold;
    color: #2E5077;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}


.login-page:hover {
    transform: scale(1.03);
}

.credentials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-area {
    color: #00224f;
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.text-area:focus {
    border-color: #4DA1A9;
}

.forgot-password-link {
    color: red;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0px;
}

.forgot-password-link:hover {
    color: #a00;
    text-decoration: underline;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.login-btn, .register-btn {
    height: 45px;
    width: 120px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #2E5077;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover, .register-btn:hover {
    background-color: #004aad;
    transform: translateY(-2px);
    cursor: pointer;
}

.login-btn:active, .register-btn:active {
    transform: translateY(1px);
}

.error-message {
    color: red;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0px;
}

.credentials > label  {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}