.questions-section {
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(218, 106, 106, 0.1);
    padding: 20px;
    position: relative;
}

.questions-section h3 {
    margin: 0;
    padding: 3px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.buttons {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

.random-btn {
    background-color: #4ECDC4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    transition: background-color 0.3s;
}

.random-btn:hover {
    transform: scale(1.03);
    background-color: #3bafa3;
}

.random-btn:active {
    transform: scale(1.01);
}

.questions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-height: 600px;
    overflow-y: auto;
    margin-top: 50px; /* Make space for the popover */
}

.question-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    background: linear-gradient(135deg, #A1D8F1, #D3A9F7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    transition: transform 0.3s ease-in-out;
    min-width: 200px;
    max-width: 300px;
}

.question-card:hover {
    transform: scale(1.03);
}

.question-card h4 {
    margin: 0;
    font-size: 20px;
}

.question-card p {
    margin: 5px 0;
}

.platform {
    display: flex;
    align-items: center;
}

.icon {
    height: 15px;
    width: 15px;
    object-fit: cover;
    border-radius: 2px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recommend-btn,
.solve-btn,
.solved-btn {
    background-color: #4ECDC4;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.solve-btn:hover,
.solved-btn:hover {
    background-color: #ff758f;
}

.solve-btn {
    background-color: #ff758f;
}

.solved-btn {
    background-color: #6c757d;
}

.popover {
    position: absolute;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popover h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.popover ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.friend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #4ECDC4;
}

.friend-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.recommend-btn {
    background-color: #4ECDC4;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.no-margin {
	margin: 0;
}

.recommend-btn:hover {
    background-color: #0056b3;
}

.close-btn {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.close-btn:hover {
    background-color: #c82333;
}
