.resource-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    gap: 5px;
    min-height: 400px;
    max-width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(218, 106, 106, 0.1);
    overflow: hidden;

    transition: all 0.4s ease-in-out;
}

.resource-card > h3 {
    margin: 0;
    padding: 3px;
    padding-top: 18%;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    color: rgb(100, 194, 226);
}

.background-logo {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0;
}

.resource-logo {
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
    border-radius: 10px;
    object-fit: contain;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
}

.resource-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resource-card > p {
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 5px;
    margin: 0;
}
