.social-container {
    top: 0px;
    gap: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #B39DDB, #F8BBD0);
}